* {
    margin: 0; /*Se reinicia el margin de todos los elementos a 0 */
    padding: 0; /*Se reinicia el padding de todos los elementos a 0 */
    box-sizing: border-box; /*El width del elemento se calcula tomando en cuenta el padding y el border*/
    font-family: Arial, Helvetica, sans-serif; /*Se define el font family para todos los elementos como Arial (Puede ser otro diferente) */
    scroll-behavior: smooth;
    border: 0;
}
:root {
    --background-principal: black; /*Variable que puede ser usada en cualquier parte del archivo con la función var() */
    --color-letra: white; /*Variable que puede ser usada en cualquier parte del archivo con la función var() */
}
.header {
    position: fixed; /*El elemento es fijado al viewport, es decir que si se hace scroll, el elmento seguirá en la posición fijada*/
    top: 0;
    display: flex;
    width: 100vw;
    justify-content: space-between; /* Los elementos del contenedor se envian hacia los lados */
    align-items: center;
    background-color: var(--background-principal);
    padding: 0 0.5rem 0 2rem; /*TOP: 0px RIGHT: 8px BOTTOM: 0px LEFT: 32px*/
}
.logo-cocacola{
    width: 80%;
    height: 60%;
}
.header h1 {
    color: var(--color-letra)
}
section{
    width: 100vw;
    height: 100vw;
    border: 2px solid red;
}
.botonessection {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Se le da un margen igual a cada elemento del contenedor */
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: var(--background-principal);
    
}
.botonessection a {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    height: 50%;
    border-radius: 50%;
    text-decoration: none;
    background-color: red;
    border-radius: 100%;
    padding: 1rem;
}






